{include file="../application/index/view/index/include/contact_header.html" /}
<style>
    .mod18 .picBox{width:960px; height:546px; margin:0 auto;position:relative;overflow:hidden;}
    .mod18 .picBox li{width:960px;height: 546px; background:url(/static/index/icon/sb_bg.jpg) no-repeat;}
</style>

<script src="/static/index/pc/js/slider/jssor.core.js" type="text/javascript"></script>
<div class="cate">

    {include file="../application/index/view/index/include/left.html" /}

    <div class="cate_right">
        <div class="cate_url">
            您的位置：<a href="/">首页</a>	><a href="/about/">走近华美</a> > <a href="/about/Machine/">先进设备</a>
        </div>
        <div class="mx_title">
            <img src="http://www.cqddzx.com/2014/images/sb_title.jpg" />
            <p>华美光学美肤中心同步世界的先进激光美肤平台</p>
        </div>
        <div class="mod18">
            <span id="prev" class="btn prev"></span>
            <span id="next" class="btn next"></span>
            <div class="prev_div"><span id="prevTop" class="btn prev"></span></div>
            <div class="next_div"><span id="nextTop" class="btn next"></span></div>
            <div id="picBox" class="picBox">
                <ul class="cf">
                    <li><img src="http://www.cqddzx.com/2014/images/sb_tu1.jpg" /><div class="sb_div">
                        <span class="sb_name">Vbeam 595nm染料激光系统 （美国）</span>
                        <p>治疗血管性病变的金标准、染料激光经典之作<br />
                            源自医疗美容激光产品制造商美国Candela激光公司</p>
                        <span class="sb_span">设备简介</span>
                        <p>染料激光经典之作，拥有20多年临床应用经验。源自第一台染料激光研制者，
                            ——医疗美容激光产品制造商美国Candela激光公司。拥有的DCD动态冷却系
                            统，独特的冷却方式可实现表皮麻醉保护作用</p>
                        <span class="sb_span">治疗范围</span>
                        <p>鲜红斑痣、血管瘤、瘢痕、痤疮、去皱、祛疤去痘、深层除皱</p>
                        <span class="sb_span">非凡优势</span>
                        <p>治疗血管性疾病的较佳波长，穿透更深入；<br />
                            是能够高效治疗鲜红斑痣的仪器；<br />
                            脉宽可调，有效降低紫癜的发生；<br />
                            多个光斑尺寸可选，适用不同类型的求美者</p>
                    </div></li>
                    <li><img src="http://www.cqddzx.com/2014/images/sb_tu2.jpg" /><div class="sb_div">
                        <span class="sb_name">王者之心 （美国）</span><br />
                        <span class="sb_span">设备简介</span>
                        <p>王者之心是美国科医人公司巅峰之作，是肌肤疗愈+胶原保养的激光平台， 是<br />&quot;王者风范&quot;的豪华升级版。在保留&quot;王者风范&quot;完美的opt脉冲技术的基础上，实<br />现了前沿光子技术的更广泛应用，适用于更广泛人群</p>
                        <span class="sb_span">治疗范围</span>
                        <p>淡化斑点、改善肤色、祛黄祛黑、收缩毛孔、祛除黑头和粉刺、淡化痘印、深<br />
                            层清洁、改善油脂分泌、淡化皱纹，收紧皮肤，颈部抗衰，面部嫩肤，激光治<br />
                            疗后皮肤深层补水</p>
                        <span class="sb_span">非凡优势</span>
                        <p>更高效：它保留王者风范核心OPT完美脉冲光技术，真正使发出的脉冲全程能<br />
                            量输出平稳均一，这也是光子技术历经四代的全新突破。一次OPT治疗疗效相<br />
                            当于3-5次传统激素治疗<br />
                            更舒适：蓝宝石冷却技术对表皮进行全程冷却保护 ， 进行持续、  接触式冷却<br />
                            能有效地保护正常皮肤组织提高了皮肤治疗时的安全性，提高治疗的舒适度<br />
                            更安全：王者之心能够连续发射多个脉冲，可以将OPT光的能量在发射时均匀<br />
                            的发布输出，脉冲延迟时皮肤组织冷却，多脉冲技术能够使更多的能量可以安<br />
                            全地传递治疗部位</p>
                    </div></li>
                    <li><img src="http://www.cqddzx.com/2014/images/sb_tu3.jpg" /><div class="sb_div">
                        <span class="sb_name">青春解码仪</span>
                        <p>&nbsp;</p>
                        <span class="sb_span">设备简介</span>
                        <p>青春水密码嫩肤系统是一款快速逆转皮肤衰老的高科技仪器。 晶体治疗头分别<br />
                            在皮肤2、3、4mm处，分层聚焦、分层治疗，  有效作用于真皮层和皮下脂肪<br />
                            层刺激胶原增生和脂肪代谢，补充水份和外源性营养成份，从根本上解决皮肤<br />
                            问题。</p>
                        <p>&nbsp;</p>
                        <span class="sb_span">治疗范围</span>
                        <p>淡化皱纹，收紧皮肤，颈部抗衰，面部嫩肤，激光治疗后皮肤深层补水。</p>
                        <p>&nbsp;</p>
                        <span class="sb_span">非凡优势</span>
                        <p>无创伤、无痛苦、无副作用<br />
                            治疗时感觉舒适，见效快，效果持久</p>
                    </div></li>
                    <li><img src="http://www.cqddzx.com/2014/images/sb_tu4.jpg" /><div class="sb_div">
                        <span class="sb_name">飞顿深蓝逆时空驻颜系统</span>
                        <p>是一台真正无痛无创塑身的仪器<br />配备有单极RF、双极RF、共振单极RF的立体塑形设备<br />&nbsp;</p>
                        <span class="sb_span">设备简介</span>
                        <p>是以色列飞顿激光公司开发的无痛无创塑身仪器，集紧肤、嫩肤、除皱、溶脂<br />
                            塑身五重功效为一体，对皮肤没有任何伤害，可以说是电波拉皮的换代技术。<br />
                            在美国和欧洲备受推崇，可根据不同部位、不同皮肤结构及目的，制定不同的<br />
                            复合治疗方案，达到紧致肌肤、精雕曲线的效果。<br /> &nbsp;</p>
                        <span class="sb_span">治疗范围</span>
                        <p>橘皮皮肤、吸脂溶脂后皮肤收紧、产后修复、大小腿塑形、全面部除皱提升<br />&nbsp; </p>
                        <span class="sb_span">非凡优势</span>
                        <p>可根据不同部位、不同皮肤结构及目的，制定不同的复合治疗方案；<br />
                            连续波射频，可在皮肤上持续滑动，保障加热及治疗过程安全无痛；<br />
                            无需麻醉、无痛无创、安全、疗效持久，治疗后真皮胶原可继续增生。</p>
                    </div></li>
                    <li><img src="http://www.cqddzx.com/2014/images/sb_tu5.jpg" /><div class="sb_div">
                        <span class="sb_name">飞顿二号多波长彩光工作站</span>
                        <p>功能集成化很高的皮肤美容工作站<br />
                            以色列飞顿公司的旗帜产品</p>
                        <span class="sb_span">设备简介</span>
                        <p>应用了前沿的模块转化技术，集成多种高效能量脉冲光为一体，由585nm&mdash;9<br />
                            50nm、650nm&mdash;950nm、685nm&mdash;950nm三大特效脉冲光系组成，能选择<br />
                            性作用于皮肤的水分、黑色素和血红蛋白调理微血循环，从而解决多种浅表性<br />
                            皮肤问题。<br /> &nbsp;</p>
                        <span class="sb_span">治疗范围</span>
                        <p>嫩肤，脱毛，治疗痤疮，深层去皱，治疗毛细血管扩张、色素问题皮肤，祛除<br />
                            妊娠纹<br />&nbsp; </p>
                        <span class="sb_span">非凡优势</span>
                        <p>集嫩肤、祛斑、脱毛、治疗血管性病变等四大功效于一体的设备；<br />
                            将高能彩光系统与电源冷却系统、计算机控制系统分离，形成三大独立模块；<br />
                            多个光探头协同作用，可通过不同作用原理、作用层次和作用环节达到全面美<br />
                            肤嫩肤的效果。</p>
                    </div></li>
                    <li><img src="http://www.cqddzx.com/2014/images/sb_tu6.jpg" /><div class="sb_div">
                        <span class="sb_name">飞顿冰点脱毛系统</span><br />
                        <span class="sb_span">设备简介</span>
                        <p>以色列飞顿公司研发的经典设备，集无痛脱毛、紧肤、亮白三种功效于一体。<br />
                            SHR双脉冲技术无痛脱毛、NIR收缩毛孔紧致肌肤、LOTION滋养肌肤，<br />
                            脱毛全程如华尔兹般轻松流畅，肌肤细腻白亮。<br />&nbsp; </p>
                        <span class="sb_span">治疗范围</span>
                        <p>适应于腋毛、臂毛、腿毛、唇毛、额部发际毛、胸背毛、比基尼毛等各部位脱毛<br />&nbsp; </p>
                        <span class="sb_span">非凡优势</span>
                        <p>全程无痛，冰爽舒适： 特有的NIR红外光波通过逐步升温的方式加热真皮层
                            让毛囊温度维持在45度左右，低能量密度，全程冰点冷却，保证表皮不受损
                            伤。 快速脱毛，安全无创：独创的In-motion快速滑行技术，将激光发射频
                            率提升至10Hz，效果是传统激光脱毛的5倍，而且安全无创。缩小毛孔，紧
                            致皮肤：独特的NIR红外缩毛孔，采用红外技术精选波谱范围在900-1600n
                            m的红外光波，直接加热真皮层，刺激胶原蛋白的增生，从而达到缩小毛孔
                            紧致皮肤的多重功效。</p>
                    </div></li>
                    <li><img src="http://www.cqddzx.com/2014/images/sb_tu7.jpg" /><div class="sb_div">
                        <span class="sb_name">超脉冲点阵王</span>
                        <p>是公认的祛疤金标准治疗法</p>
                        <span class="sb_span">设备简介</span>
                        <p>超脉冲点阵换肤”提出的点阵式光热分解作用理论，是传统的选择性光热分解
                            作用理论的拓展和飞跃。超脉冲点阵激光具有多种光斑和能量传输选择，已成
                            为业内具有高功效的点阵激光系统。是公认的祛疤金标准治疗法<br />&nbsp; </p>
                        <span class="sb_span">治疗范围</span>
                        <p>各种皱纹、各种瘢痕如外伤瘢痕、皮肤松弛下坠、眼睑下垂、眼袋、痤疮印记<br />&nbsp; </p>
                        <span class="sb_span">非凡优势</span>
                        <p>个性治疗：根据个人需求，定制个性化治疗方案<br />
                            效果显著：强效祛除疤痕，平复凹凸，均匀肤色<br />
                            安全祛疤：国际前沿的进口仪器，损伤皮肤健康<br />
                            改善肤质：改善皮肤质地，恢复皮肤的光泽细嫩<br />
                            恢复快速：3-6天左右痂皮脱落 ，皮肤恢复正常</p>
                    </div></li>
                    <li><img src="http://www.cqddzx.com/2014/images/sb_tu5.jpg" /><div class="sb_div">
                        <span class="sb_name">飞顿二号多波长彩光工作站</span>
                        <p>功能集成化很高的皮肤美容工作站<br />
                            以色列飞顿公司的旗帜产品</p>
                        <span class="sb_span">设备简介</span>
                        <p>应用了前沿的模块转化技术，集成多种高效能量脉冲光为一体，由585nm&mdash;9<br />
                            50nm、650nm&mdash;950nm、685nm&mdash;950nm三大特效脉冲光系组成，能选择<br />
                            性作用于皮肤的水分、黑色素和血红蛋白调理微血循环，从而解决多种浅表性<br />
                            皮肤问题。<br /> &nbsp;</p>
                        <span class="sb_span">治疗范围</span>
                        <p>嫩肤，脱毛，治疗痤疮，深层去皱，治疗毛细血管扩张、色素问题皮肤，祛除<br />
                            妊娠纹<br />&nbsp; </p>
                        <span class="sb_span">非凡优势</span>
                        <p>集嫩肤、祛斑、脱毛、治疗血管性病变等四大功效于一体的设备；<br />
                            将高能彩光系统与电源冷却系统、计算机控制系统分离，形成三大独立模块；<br />
                            多个光探头协同作用，可通过不同作用原理、作用层次和作用环节达到全面美<br />
                            肤嫩肤的效果。</p>
                    </div></li>
                </ul>

            </div>
            <div class="list_div">
                <div id="listBox" class="listBox">
                    <ul class="cf">
                        <li class="on"><i class="arr2"></i><div><img src="http://www.cqddzx.com/2014/images/sb_xtu1.jpg"></div></li>
                        <li><i class="arr2"></i><div><img src="http://www.cqddzx.com/2014/images/sb_xtu7.jpg"></div></li>
                        <li><i class="arr2"></i><div><img src="http://www.cqddzx.com/2014/images/sb_xtu4.jpg"></div></li>
                        <li><i class="arr2"></i><div><img src="http://www.cqddzx.com/2014/images/sb_xtu5.jpg"></div></li>
                        <li><i class="arr2"></i><div><img src="http://www.cqddzx.com/2014/images/sb_xtu6.jpg"></div></li>
                        <li><i class="arr2"></i><div><img src="http://www.cqddzx.com/2014/images/sb_xtu3.jpg"></div></li>
                        <li><i class="arr2"></i><div><img src="http://www.cqddzx.com/2014/images/sb_xtu2.jpg"></div></li>
                        <li><i class="arr2"></i><div><img src="http://www.cqddzx.com/2014/images/sb_xtu6.jpg"></div></li>
                    </ul>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>

{include file="../application/index/view/index/include/footer.html" /}