{include file="../application/index/view/index/include/contact_header.html" /}
<div class="cate">
    {include file="../application/index/view/index/include/left.html" /}


    <div class="cate_right">
        <div class="cate_url">
            您的位置：<a href="/">首页</a>	><a href="/qbxm/">全部项目</a>
        </div>
        <div class="cate_banner"><a href="/topics/dwfcqb/"><img src="http://www.cqddzx.com/2014/images/cate_qb.jpg" /></a></div>
        <div class="cate_div">

            {if !empty($project_all)}
            {volist name="project_all" id="vo" key="k" }

            <div class="cate_bt2"><span>{$vo.name}</span> / PROJECT</div>
            <div class="cate_con">
                {if !empty($vo.children)}
                {volist name="vo.children" id="vc" key="kc" }
                <dl>
                    <dt>{$vc.name}</dt>
                    <dd>
                        {if !empty($vc.child)}
                        {volist name="vc.child" id="vs" key="ks" }
                        <a href="{:url('/index/proi',['id' => $vc.id])}" {if $vs.is_hot === 1}class="hot" {/if}>{$vs.name}</a>
                        {/volist}
                        {/if}
                    </dd>
                </dl>
                {/volist}
                {/if}
            </div>
            {/volist}
            {/if}

        </div>
    </div>
</div>
{include file="../application/index/view/index/include/contact_footer.html" /}