<!-- 模板 -->
<div class="layui-fluid">
  <div class="layui-row">
      <div class="layui-card">
        <div class="layui-card-header">
            <span class="layui-breadcrumb">
              <i>当前位置：</i>
            <a href="/">首页</a>
            <a href="#/website/menu">列表</a>
            <a><cite>添加菜单</cite></a>
          </span>
        </div>
        <div class="layui-card-body">
          <form class="layui-form" action="##" onsubmit="return false" >
            <div class="layui-form-item">
              <label class="layui-form-label">名称</label>
              <div class="layui-input-block">
                <input type="text" name="name"  lay-verify="required" value="{if !empty($row.name)}{$row.name}{/if}" placeholder="菜单名称" autocomplete="off" class="layui-input">
              </div>
            </div>

           <div class="layui-form-item">
              <label class="layui-form-label">链接</label>
              <div class="layui-input-block">
                <input type="text" name="path" value="{if !empty($row.path)}{$row.path}{/if}" placeholder="菜单链接" autocomplete="off" class="layui-input">
                  <p class="layui-word-aux">注意： 如未填写链接则默认为：（javascript:;）。</p>
              </div>
            </div>

            <div class="layui-form-item">
              <label class="layui-form-label">-选择类别-</label>
              <div class="layui-input-block">
                <select name="pid" lay-verify="required">
                  <option value="0">顶级分类</option>
                    {if !empty($menu)}
                    {volist name="menu" id="v" key="k" }
                    <option value="{$v.id}" {if !empty($row) && $row.pid == $v.id} selected {/if}>{if !empty($v.html)}{$v.html}{/if}{$v.name}</option>
                    {/volist}
                    {/if}

                </select>
              </div>
            </div>
            <div class="layui-form-item">
              <div class="layui-input-block">
                  <input type="hidden" name="requestUrl"  value="{:url('addmenu')}">
                  <input type="hidden" name="id"  value="{if !empty($row.id)}{$row.id}{/if}">
                <button class="layui-btn xxx" lay-submit lay-filter="formDemo">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                <a href="#/website/menu" class="layui-btn layui-btn-primary">返回列表</a>
              </div>
            </div>
          </form>
        </div>
      </div>
  </div>
</div>
<!-- 脚本 -->
{js href='/static/admin/layui_rely.js'}
{include file="include/submit" /}
