<style>
  .layui-table-view{
    height: 100%!important;
  }
  .layui-table-main{
    height: 100%!important;
  }
  .layui-table{    height: 100%!important;}
</style>
<div class="layui-fluid">
  <div class="layui-row">
    <div class="layui-col-xs12">
      <div class="layui-card">
        <blockquote class="layui-elem-quote">


              <span class="layui-breadcrumb">
                    <a href="/">首页</a>
                    <a><cite>列表</cite></a>
              </span>

        </blockquote>

        <div class="layui-card-header">
          <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
            <ul class="layui-tab-title">
              <li class="layui-this">PC端</li>
              <li>移动端</li>
              <li>回收站</li>
            </ul>
            <div class="layui-tab-content">
              <div class="layui-tab-item layui-show">

                <div class="layui-card-body">
                  <div class="layui-card-header">
                    <a href="#/website/addreal_show" class="layui-btn layui-btn-xs">
                      <i class="layui-icon">&#xe654;</i>
                      <span>新增</span>
                    </a>
                    <a href="javascript:;" class="layui-btn layui-btn-xs layui-btn-primary" id="search_hash">
                      <i class="layui-icon">&#xe615;</i>
                    </a>
                  </div>
                  <div class="layui-card-body" style="top: 10px;">
                    <table lay-filter="demo"  lay-data="{height:315, page:true, id:'test'}" >
                      <thead>
                      <tr>
                        <th lay-data="{field:'id', width:100, sort:true}">(编号id)</th>
                        <th lay-data="{field:'name', width:150}">名称</th>
                        <th lay-data="{field:'intro', width:100}">简介</th>
                        <th lay-data="{field:'img', width:100}">案例图</th>
                        <th lay-data="{field:'state', width:100}">状态</th>
                        <th lay-data="{field:'time', width:100}">创建时间</th>
                        <th lay-data="{field:'操作', width:120}">操作</th>
                      </tr>
                      </thead>
                      <tbody>
                      {if !empty($real_show)}
                      {volist name="real_show" id="v" key="k" }
                      {if $v.is_mobile == 2}
                      <tr>
                        <td>{$v.id}</td>
                        <td>{$v.name}</td>
                        <td>{$v.intro}</td>
                        <td><img src="{$v.img}" onclick="$.fn.preview(this)" width="30"></td>
                         <td>
                          {if $v.state == 1}
                          <a href="javascript:;">
                            <div class="layui-input-block" style="margin-left:unset;">
                              <input type="checkbox" checked="" data-do="_state"   name="open" lay-skin="switch" data-field="state" data-ids="{$v.id}" data-url="{:url('index/real_show')}"  lay-filter="switchTest_hash"  lay-text="正常|禁用">
                            </div>
                          </a>
                          {else}
                          <a href="javascript:;">
                            <div class="layui-input-block"  style="margin-left:unset;">
                              <input type="checkbox"  data-do="_state" data-field="state" data-ids="{$v.id}"  data-url="{:url('index/real_show')}"  lay-filter="switchTest_hash"  name="close" lay-skin="switch"  lay-text="正常|禁用">
                            </div>
                          </a>
                          {/if}
                        </td>
                        <td>{$v.time}</td>
                        <td>
                          <a href="#/website/addreal_show?id={$v.id}" ><i class="layui-icon" title="编辑数据">&#xe642;</i></a>
                          <a href="javascript:;" data-ids="{$v.id}" data-url="{:url('index/real_show')}"   id="delReal_show"><i  class="layui-icon" title="删除数据">&#xe640;</i></a>
                          <a href="#/website/real_show?id={$v.id}" class="clone"><i>克隆</i></a>
                        </td>
                      </tr>
                      {/if}
                      {/volist}
                      {/if}
                      </tbody>
                      <!--</div>-->
                    </table>
                  </div>
                </div>
              </div>

              <!--手机端-->
              <div class="layui-tab-item">
                <div class="layui-card-body">
                  <div class="layui-card-header">
                    <a href="#/website/addreal_show" class="layui-btn layui-btn-xs">
                      <i class="layui-icon">&#xe654;</i>
                      <span>新增</span>
                    </a>
                    <a href="javascript:;" class="layui-btn layui-btn-xs layui-btn-primary">
                      <i class="layui-icon">&#xe615;</i>
                    </a>
                  </div>
                  <div class="layui-card-body" style="top: 10px;">
                    <table lay-filter="demo"  lay-data="{height:315, page:true, id:'test'}" >
                      <thead>
                      <tr>
                        <th lay-data="{field:'id', width:100, sort:true}">(编号id)</th>
                        <th lay-data="{field:'name', width:150}">名称</th>
                        <th lay-data="{field:'intro', width:100}">简介</th>
                        <th lay-data="{field:'img', width:100}">案例图</th>
                        <th lay-data="{field:'state', width:100}">状态</th>
                        <th lay-data="{field:'time', width:100}">创建时间</th>
                        <th lay-data="{field:'操作', width:120}">操作</th>
                      </tr>
                      </thead>
                      <tbody>
                      {if !empty($real_show)}
                      {volist name="real_show" id="v" key="k" }
                      {if $v.is_mobile == 1}

                      <tr>
                        <td>{$v.id}</td>
                        <td>{$v.name}</td>
                        <td>{$v.intro}</td>
                        <td><img src="{$v.img}" onclick="$.fn.preview(this)" width="30"></td>
                        <td>
                          {if $v.state == 1}
                          <a href="javascript:;">
                            <div class="layui-input-block" style="margin-left:unset;">
                              <input type="checkbox" checked="" data-do="_state"   name="open" lay-skin="switch" data-field="state" data-ids="{$v.id}" data-url="{:url('index/real_show')}"  lay-filter="switchTest_hash"  lay-text="正常|禁用">
                            </div>
                          </a>
                          {else}
                          <a href="javascript:;">
                            <div class="layui-input-block"  style="margin-left:unset;">
                              <input type="checkbox"  data-do="_state" data-field="state" data-ids="{$v.id}"  data-url="{:url('index/real_show')}"  lay-filter="switchTest_hash"  name="close" lay-skin="switch"  lay-text="正常|禁用">
                            </div>
                          </a>
                          {/if}
                        </td>
                        <td>{$v.time}</td>
                        <td>
                          <a href="#/website/addreal_show?id={$v.id}" ><i class="layui-icon" title="编辑数据">&#xe642;</i></a>
                          <a href="javascript:;" data-ids="{$v.id}" data-url="{:url('index/real_show')}"  id="delReal_show"><i  class="layui-icon" title="删除数据">&#xe640;</i></a>
                          <a href="#/website/real_show?id={$v.id}" class="clone"><i>克隆</i></a>
                        </td>
                      </tr>
                      {/if}
                      {/volist}
                      {/if}
                      </tbody>
                      <!--</div>-->
                    </table>
                    <script type="text/html" id="barDemo_hash">
                      <a class="layui-btn layui-btn-xs" lay-event="detail">查看</a>
                      <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
                      <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
                    </script>
                  </div>
                </div>
              </div>

              <div class="layui-tab-item">
                <div class="layui-card-body">
                  <div class="layui-card-body" style="top: 10px;">
                    <table lay-filter="demo"  lay-data="{height:315, page:true, id:'test'}" >
                      <thead>
                      <tr>
                        <th lay-data="{field:'id', width:100, sort:true}">(编号id)</th>
                        <th lay-data="{field:'name', width:150}">名称</th>
                        <th lay-data="{field:'intro', width:100}">简介</th>
                        <th lay-data="{field:'img', width:100}">案例图</th>
                        <th lay-data="{field:'time', width:100}">创建时间</th>
                        <th lay-data="{field:'操作', width:150}">操作</th>
                      </tr>
                      </thead>
                      <tbody>
                      {if !empty($delData)}
                      {volist name="delData" id="v" key="k" }
                      <tr>
                        <td>{$v.id}</td>
                        <td>{$v.name}</td>
                        <td>{$v.intro}</td>
                        <td><img src="{$v.img}" onclick="$.fn.preview(this)" width="30"></td>
                        <td>{$v.time}</td>
                        <td>
                          <a href="javascript:;"  data-table="real_show" id="restore" data-ids="{$v.id}"><i>还原数据</i></a>
                          <a href="javascript:;" data-ids="{$v.id}" class="clone dTel" data-table="real_show"  id="for-del">彻底删除</a>
                        </td>
                      </tr>
                      {/volist}
                      {/if}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--索引表单-->
<script type="text/html" id="search_tpl_hash">
  <form class="layui-form" action="">
    <div class="layui-form-item">
      <label class="layui-form-label">菜单名称/id/</label>
      <div class="layui-input-block">
        <input type="text" name="title" placeholder="请输入用户名.." autocomplete="off" class="layui-input">
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">城市</label>
      <div class="layui-input-block">
        <select name="city">
          <option value=""></option>
          <option value="0">北京</option>
          <option value="1">上海</option>
          <option value="2">广州</option>
          <option value="3">深圳</option>
          <option value="4">杭州</option>
        </select>
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">是否禁用</label>
      <div class="layui-input-block">
        <input type="checkbox" name="switch" lay-skin="switch">
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">性别</label>
      <div class="layui-input-block">
        <input type="radio" name="sex" value="男" title="男">
        <input type="radio" name="sex" value="女" title="女" checked>
      </div>
    </div>
    <div class="layui-form-item">
      <div class="layui-input-block">
        <button class="layui-btn" lay-submit lay-filter="formDemo_hash"><i class="layui-icon">&#xe615;</i> 搜索</button>
        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
      </div>
    </div>
  </form>
</script>

<!--依赖-->
{js href='/static/admin/layui_rely.js'}
{include file="include/laytablejs" /}
{include file="include/submit" /}
